<div class="row">
    <div class="col-12 bg-success bg-opacity-10">
        <b>
            <a href="/ejsabout">About</a>
            <a href="/ejscontact">Contact</a>
            <a href="/ejsservices">Services</a>
        </b>
    </div>
</div>